/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 17, 2017, 3:02:27 PM
    Author     : Giorgos Hompis <ghompis@csd.uoc.gr>
*/


@mixin privacy-label($size) {
    display: block;
    width: $size;
    height: $size;
    text-align: center;
    vertical-align: middle;
    border-radius: $size/4;
    font-size: $size/4;
}

privacy-label-good {
    @include privacy-label(16px);
    /*@extend .btn-success;*/ 
}

privacy-label-neutral {
    @include privacy-label(16px);
    /*@extend .btn-warning;*/ 
}

privacy-label-bad {
    @include privacy-label(16px);
    /*@extend .btn-danger;*/ 
}

privacy-label-unknown {
    @include privacy-label(16px);
    /*@extend .btn-secondary;*/ 
}



