<%-- any content can be specified here e.g.: --%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="m" tagdir="/WEB-INF/tags/productList/" %>
<%@ page pageEncoding="UTF-8" %>

<div>
    <ul>
        <c:forEach var="product" items="${productsList}">
            <li> <m:product product="${product}" /> </li>
            <br>
        </c:forEach>
    </ul>
</div>
