/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2017, 3:53:14 PM
    Author     : Giorgos Hompis <ghompis@csd.uoc.gr>
*/




header img.logo{
    height: 40px;
    float: left;
}

header .search{
    display: inline-block;
    margin-left: 15%;
}
header .search button:hover{
    cursor: pointer;
}

header .loginInfo {
    display: inline-block;
    margin-right: 10%;
    float: right;
}


header .loginInfo form {
    padding: 16px;
}
header .loginInfo button {
    float: right;
}