/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2017, 6:03:41 PM
    Author     : Giorgos Hompis <ghompis@csd.uoc.gr>
*/


// ====================== Bootstrap fixes ====================== //

.btn-outline-light:hover{
    color: #111;
}

button{
    cursor: pointer;
}

.tooltip-inner{
    text-align: left;
}
