/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2017, 2:58:42 PM
    Author     : Giorgos Hompis <ghompis@csd.uoc.gr>
*/


$background: "/caprice/img/header/header_background.png";


body {
    padding-top: 56px;
    padding-bottom: 60px;
}


header, 
footer
{
    background: url($background);
}

header div.main, 
footer div.main
{
    display: block;
    width: 70%;
    margin: auto;
    padding: .5rem 1rem;
}


footer {
    line-height: 1rem;
    font-size: 1rem;
}



