/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2017, 1:46:03 PM
    Author     : Giorgos Hompis <ghompis@csd.uoc.gr>
*/


p-05{
    padding: .125rem !important;
}

m-05{
    margin: .125rem !important;
}



no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li {
    list-style-type: none; 
}


.text-caprice{
    color: rgb(9,75,92) !important;
}
.bg-caprice{
    background-color: rgb(9,75,92) !important;
}



.annotation-hovered {
    background-color: rgba(220, 255, 25, 0.55) !important;
}


.btn.btn-outline-success.selected {
    background-color: #28a745;
    color: #fff;
}
.btn.btn-outline-danger.selected {
    background-color: #dc3545;
    color: #fff;
}

.c-pointer{
    cursor: pointer !important;
}
.c-help{
    cursor: help !important;
}
.c-normal{
    cursor: auto !important;
}
