<%-- any content can be specified here e.g.: --%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page pageEncoding="UTF-8" %>
<%@taglib uri="/WEB-INF/functions/functions.tld" prefix="f" %>


<script>
    var User = ${f:toJson(user)};
</script>

<div class="main">
    
    <div class="">
    
        <a href="${pageContext.request.contextPath}">
            <img class="logo" src="${pageContext.request.contextPath}/img/header/header_logo.png" height="100%">
        </a>

        <div class="search">
            <form class="form-inline" type="GET" action="${pageContext.request.contextPath}/product/list">
                <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>

        <div class="loginInfo">
            <c:if test='${user==null}'>
                <%@include file="/WEB-INF/fragments/login/anonymous.jsp" %>
            </c:if>
            <c:if test='${user!=null}'>
                <%@include file="/WEB-INF/fragments/login/logged.jsp" %>
            </c:if>
        </div>
        
    </div>
    
    
</div>