<%-- any content can be specified here e.g.: --%>
<%@page import="org.caprice.model.db.LegalDocument"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page pageEncoding="UTF-8" %>
<%@taglib prefix="tabs" tagdir="/WEB-INF/tags/digitalProduct/" %>


<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="true">Documents</a>
    </li>
<!--    <li class="nav-item">
        <a class="nav-link" id="permissions-tab" data-toggle="tab" href="#permissions" role="tab" aria-controls="permissions" aria-selected="false">Permissions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="externalResources-tab" data-toggle="tab" href="#externalResources" role="tab" aria-controls="externalResources" aria-selected="false">External Resources</a>
    </li>-->
</ul>
    
<div class="tab-content" id="myTabContent">
    
    
    <%-- Documents --%>
    <div class="tab-pane fade show active" id="documents" role="tabpanel" aria-labelledby="home-tab">
        <div class="px-md-3 py-md-5">
            
            <%-- Add Button --%>
            <div class="float-right mx-3">
                <%@include file="/WEB-INF/jspf/digitalProduct/modal/addDocumentForm.jspf" %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#document-modal" data-button="new-document">
                    <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    Add New Document
                </button>
            </div>
            <div class="clearfix"></div>
            
            <%-- Documents Lists --%>
<!--            <ul>
                <c:forEach var="document" items="${product.legalDocuments}">
                    <li> <tabs:document document="${document}" /> </li>
                </c:forEach>
            </ul> -->
            
            <div class="row no-gutters">
                <c:forEach var="documentEntry" items="${documents}">
                    
                    <div class="col-12 text-center py-2 row"> 
                        <div class="btn-group w-100 py-2">
                            <div class="text-left d-inline-block w-100  rounded-left">
                                <tabs:document document="${documentEntry.key}" />
                            </div>
                            <button type="button" class="col-2 d-inline-block btn btn-light rounded-right border-top-0 border-bottom-0 border-right-0 border-secondary dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a class="text-primary">
                                    <u>All Versions</u>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right w-100 p-3 mt-1 border border-secondary">
                                <c:forEach var="document" items="${documentEntry.value}">
                                    <div class='m-3 mr-5'>
                                        <tabs:document document="${document}" />
                                    </div>
                                    <!--<hr class="bg-secondary">-->
                                </c:forEach>
                            </div>
                        </div>
                    </div>
                </c:forEach>
            </div>


            
        </div>
    </div>
    
    
    <%-- Permissions --%>
    <div class="tab-pane fade" id="permissions" role="tabpanel" aria-labelledby="profile-tab">
        
    </div>
    
    
    <%-- External Resources --%>
    <div class="tab-pane fade" id="externalResources" role="tabpanel" aria-labelledby="contact-tab">
        
    </div>
    
</div>
    